/* zmienne */
:root {
  --hover-color: #2196f3;
  --bg-color: #2f303a;
  --font-color: #212121;
  --nr-color: #757575;
  --main-bg-color: #e5e5e5;
  --team-bg-color: #f5f4fa;
  --foot-font-color: rgb(255, 255, 255, 0.6);
  --border-portfolio: #eeeeee;
  --border-header: #ececec;
}

* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--font-color);
  /* width: 1600px;
  margin: 0px auto; */
}

/* pseudoklasy */

.nav-font:hover,
.nav-font:focus {
  color: var(--hover-color);
}
.contact:hover,
.contact:focus {
  color: var(--hover-color);
}
.foot-text:hover,
.foot-text:focus {
  color: var(--hover-color);
}
.foot-text-portfolio:hover,
.foot-text-portfolio:focus {
  color: var(--hover-color);
}

/* klasy */

.foot {
  background-color: var(--bg-color);
  display: flex;
}

.logo {
  font-weight: 700;
  font-size: 26px;
  font-family: 'Raleway';
  line-height: 1.17;
  color: #000;
  text-decoration: none;
}
.foot-logo {
  font-weight: 700;
  font-size: 26px;
  font-family: 'Raleway';
  line-height: 1.17;
  color: white;
  text-decoration: none;
  display: inline-flex;
  margin: 60px 15px 20px 15px;
}

.logo-color {
  color: var(--hover-color);
}
.contact-font {
  color: var(--nr-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.contact {
  text-decoration: none;
  color: var(--nr-color);
}

.nav-font {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--font-color);
  text-decoration: none;
}
.nav-list {
  list-style-type: none;
  display: inline-flex;
  gap: 46px;
}

.nav-list-sec {
  list-style-type: none;
  display: inline-flex;
}
.images-list {
  list-style-type: none;
}
.images-team-list {
  list-style-type: none;
}
.foot-links-list {
  list-style-type: none;
}
.paragraph-list {
  list-style-type: none;
}
.filter-list {
  list-style-type: none;
}
.project-list {
  list-style-type: none;
}
.center-element-font {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
.main-button {
  color: white;
  background-color: var(--hover-color);
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  justify-content: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 41px 10px 42px;
}

.main-section {
  background-color: white;
}
.team-section {
  background-color: var(--team-bg-color);
}

.p-header {
  color: var(--font-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.p-text {
  color: var(--nr-color);
  font-size: 14px;
  line-height: 1.71;
}
.header-font {
  color: var(--font-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.foot-text {
  color: var(--foot-font-color);
  text-decoration: none;
}
.figure-header {
  color: var(--font-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 30px 0px 10px 0px;
}
.figure-caption {
  color: var(--nr-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 30px;
}
.street {
  color: white;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.foot-links {
  font-style: normal;
}

.margin {
  margin-bottom: -94px;
}

/* portfolio */

.button-portfolio:hover {
  color: white;
  background-color: var(--hover-color);
}
.button-portfolio {
  color: var(--font-color);
  background-color: var(--team-bg-color);
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
}
.foot-text-portfolio {
  text-decoration: underline;
  color: var(--foot-font-color);
}
/* box */

.section {
  padding: 94px 0px;
}
.container {
  width: 1200px;
  margin: 0px auto;
}
.box-head {
  border-bottom: solid 1px;
  border-color: var(--border-header);
  display: flex;
}
.logo-box {
  margin: 24px 0px 25px 0px;
  display: inline-flex;
}
.nav-box {
  display: inline-flex;
  margin: 37px 371px 37px 93px;
}
.mid-element-navlist {
  margin: 0px 46px;
}
.nav-list-sec-box {
  margin: 32px 12px 32px 0px;
  display: inline-flex;
}
.contact-mail {
  margin-right: 50px;
}
.main-section-box {
  display: block;
  background-color: #2f303a;
}
.middle-text-box {
  margin: 106px 252px 30px 252px;
}
.button-pos {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 500px;
  margin-bottom: 200px;
}
.paragraph-list-box {
  display: inline-flex;
  text-align: left;
  padding: 0px 15px;
}
.paragraph-list span {
  display: inline-flex;
  margin-bottom: 10px;
}
.paragraph-list p {
  margin-right: 30px;
}
.images-list-box {
  display: flex;
  margin-top: 50px;
  padding: 0px 15px;
}
.mid-photo {
  padding: 0px 30px;
}
.images-team-list-box {
  display: flex;
  margin-top: 50px;
  gap: 30px;
}
.team-picture-box {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-cap {
  display: flex;
  flex-direction: column;
}

.foot-links-box {
  margin: 0px 0px 60px 15px;
}
.foot-mail {
  display: inline-flex;
  padding: 9px 0px;
}
.filter-list-box {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.project-item-box {
  border: solid 1px var(--border-portfolio);
}
.project-item-cap {
  margin: 10px;
}
.figure-head-portfolio {
  color: var(--font-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
  text-align: left;
  padding: 20px 24px 4px 24px;
}
.figure-caption-portfolio {
  color: var(--nr-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  padding: 0px 24px 20px 24px;
  display: block;
}
